[submodule "Carthage/Checkouts/Alamofire"]
	path = Carthage/Checkouts/Alamofire
	url = ssh://git@github.com/Alamofire/Alamofire.git
[submodule "Carthage/Checkouts/iOSClientPlayer"]
	path = Carthage/Checkouts/iOSClientPlayer
	url = ssh://git@github.com/EricssonBroadcastServices/iOSClientPlayer.git
[submodule "Carthage/Checkouts/Kingfisher"]
	path = Carthage/Checkouts/Kingfisher
	url = ssh://git@github.com/onevcat/Kingfisher.git
[submodule "Carthage/Checkouts/Nimble"]
	path = Carthage/Checkouts/Nimble
	url = ssh://git@github.com/Quick/Nimble.git
[submodule "Carthage/Checkouts/Quick"]
	path = Carthage/Checkouts/Quick
	url = ssh://git@github.com/Quick/Quick.git
[submodule "Carthage/Checkouts/iOSClientExposure"]
	path = Carthage/Checkouts/iOSClientExposure
	url = ssh://git@github.com/EricssonBroadcastServices/iOSClientExposure.git
[submodule "Carthage/Checkouts/iOSClientDownload"]
	path = Carthage/Checkouts/iOSClientDownload
	url = ssh://git@github.com/EricssonBroadcastServices/iOSClientDownload.git
[submodule "Carthage/Checkouts/iOSClientCast"]
	path = Carthage/Checkouts/iOSClientCast
	url = ssh://git@github.com/EricssonBroadcastServices/iOSClientCast.git
[submodule "Carthage/Checkouts/iOSClientExposureDownload"]
	path = Carthage/Checkouts/iOSClientExposureDownload
	url = ssh://git@github.com/EricssonBroadcastServices/iOSClientExposureDownload.git
[submodule "Carthage/Checkouts/iOSClientExposurePlayback"]
	path = Carthage/Checkouts/iOSClientExposurePlayback
	url = ssh://git@github.com/EricssonBroadcastServices/iOSClientExposurePlayback.git
