[submodule "Carthage/Checkouts/Alamofire"]
	path = Carthage/Checkouts/Alamofire
	url = ssh://git@github.com/Alamofire/Alamofire.git
[submodule "Carthage/Checkouts/iOSClientPlayer"]
	path = Carthage/Checkouts/iOSClientPlayer
	url = ssh://git@github.com/EricssonBroadcastServices/iOSClientPlayer.git
[submodule "Carthage/Checkouts/iOSClientUtilities"]
	path = Carthage/Checkouts/iOSClientUtilities
	url = ssh://git@github.com/EricssonBroadcastServices/iOSClientUtilities.git
[submodule "Carthage/Checkouts/Kingfisher"]
	path = Carthage/Checkouts/Kingfisher
	url = ssh://git@github.com/onevcat/Kingfisher.git
[submodule "Carthage/Checkouts/Nimble"]
	path = Carthage/Checkouts/Nimble
	url = ssh://git@github.com/Quick/Nimble.git
[submodule "Carthage/Checkouts/Quick"]
	path = Carthage/Checkouts/Quick
	url = ssh://git@github.com/Quick/Quick.git
[submodule "Carthage/Checkouts/iOSClientExposure"]
	path = Carthage/Checkouts/iOSClientExposure
	url = ssh://git@github.com/EricssonBroadcastServices/iOSClientExposure.git
[submodule "Carthage/Checkouts/iOSClientAnalytics"]
	path = Carthage/Checkouts/iOSClientAnalytics
	url = ssh://git@github.com/EricssonBroadcastServices/iOSClientAnalytics.git
[submodule "Carthage/Checkouts/iOSClientDownload"]
	path = Carthage/Checkouts/iOSClientDownload
	url = ssh://git@github.com/EricssonBroadcastServices/iOSClientDownload.git
[submodule "Carthage/Checkouts/Pageboy"]
	path = Carthage/Checkouts/Pageboy
	url = ssh://git@github.com/uias/Pageboy.git
[submodule "Carthage/Checkouts/PureLayout"]
	path = Carthage/Checkouts/PureLayout
	url = ssh://git@github.com/PureLayout/PureLayout.git
[submodule "Carthage/Checkouts/Tabman"]
	path = Carthage/Checkouts/Tabman
	url = ssh://git@github.com/uias/Tabman.git
