<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ericsson_black</key>
	<string>#0C0E0F</string>
	<key>ericsson_blue</key>
	<string>#0066B3</string>
	<key>ericsson_dark_grey</key>
	<string>#16191B</string>
</dict>
</plist>
